
.show-color-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    color: white;
}



.color-square{
    box-sizing: border-box;
    background-color: #fff;
    height: 170px;
    padding: 1rem;
    cursor: pointer;
    position: relative;
    font-size: 1.3rem;
}




.color-square:hover::after{
    content: "click to copy";
    text-transform: capitalize; 
    color: inherit;
    position: absolute;
    bottom: 1rem;
}


.color-square.copied:hover::after{
    content: "copied !";
    text-transform: capitalize;
    color: inherit;
    position: absolute;
    bottom: 1rem;
}